form{
    background-color: rgb(72, 72, 72);
    border: 1px solid;
    border-radius: 4px;
    padding: 15px;
    width: 50%;
    position: relative;
    top:10px;
}

input{
            border-radius: 9999px;
            border: 1px solid #eee;
            flex: 1;
            margin: 4px;
            padding: 0 8px;
}